<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isLogged()">
        <li class="nav-item" *ngFor="let ruta of rutas">
          <a class="nav-link" [routerLink]="[ruta.path]" [routerLinkActive]="['active']">{{ruta.nombre}}
            - {{ruta.icon}}</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 text-end" *ngIf="isLogged();else loggedOut">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/cart'" [routerLinkActive]="['active']">Cart ({{numArticulos}})</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/usuario'"
             [routerLinkActive]="['active']">{{getUsuario()!.nombre|split:' ':0}}</a>
        </li>
      </ul>
      <ng-template #loggedOut> <!-- CORRESPONDIENTE AL BLOQUE ELSE -->
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto text-end"> <!--margin start auto-->
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/login'" [routerLinkActive]="['active']">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/registro'" [routerLinkActive]="['active']">Registro</a>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
