<div class="row mb-2" *ngIf="isAdmin()">
  <div class="d-grid d-md-flex justify-content-md-end">
    <button class="btn btn-outline-primary" type="button" [routerLink]="['formulario']">Añadir Producto</button>
    <!--<button class="btn btn-outline-primary" type="button" [routerLink]="['./formulario']">Añadir Producto</button>-->
    <!--<button class="btn btn-outline-primary" type="button" [routerLink]="['/articulos/formulario']">Añadir Producto</button>-->
  </div>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 row-cols-xl-5" [@ngForAnimation]="articulos.length">
  <div class="col mb-2" *ngFor="let articulo of articulos">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{ articulo.nombre }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{articulo.precio}}€</h6>
        <p class="card-text">{{articulo.descripcion}}</p>
        <a href="#" class="card-link" *ngIf="articulo.stock>0">Añadir al carrito</a>
        <a href="#" class="card-link">Compartir</a>
      </div>
      <div class="card-footer" *ngIf="isAdmin()">
        <div class="row">
          <div class="col-6">
            <div class="d-grid">
              <button class="btn btn-outline-success">
                <fa-icon [icon]="editar"></fa-icon>
              </button>
            </div>
          </div>
          <div class="col-6">
            <div class="d-grid">
              <button class="btn btn-outline-danger" (click)="remove(articulo.id!)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
