/* You can add global styles to this file, and also import other style files */

body{
  margin:0;
  padding: 0;
  background-color: rgba(235, 253, 219, 0.5);
}
html, body { height: 100%; }

.card-title{
  color:blue;
}

a{
  text-decoration: none;
}
a:hover{
  cursor: pointer;
}




.invalid{
  border: 1px solid red;
  color:red;
  border-radius: 5px;
  margin-top: 2px;
  padding: 5px;
}

mat-dialog-content{
  height: 95%;
}
