<div class="alert alert-warning text-center" role="alert" *ngIf="cart.totalArticulos<=6;else envioGratis">
  Envío gratuito con más de 6 artículos.
</div>
<ng-template #envioGratis>
  <div class="alert alert-success text-center" role="alert">
    Enhorabuena, tienes el envio gratuito como regalo de la casa.
  </div>
</ng-template>
<table class="table table-striped">
  <thead class="table-dark"> <!-- TABLE HEAD -->
  <tr> <!-- TABLE ROW  FILA DE LA TABLA-->
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Descripción</th>
    <th scope="col" class="text-center">Cantidad</th>
    <th scope="col" class="text-center">Precio/u</th>
    <th scope="col" class="text-center">Precio total</th>
    <th scope="col" class="text-center">Acciones</th>
  </tr>
  </thead>
  <tbody> <!-- TABLE BODY -->
  <tr *ngFor="let map of cart.articulos | keyvalue; let i = index ">
    <th scope="row">{{i}}</th>
    <td>{{map.key.nombre}}</td>
    <td>{{(map.key.descripcion | truncate:30).value}} <span *ngIf="(map.key.descripcion | truncate:30).isTruncate"
                                                            (click)="abrirDetalles(map.key)"><a
      class="link-info">Ver más</a></span></td>
    <td class="text-center">{{map.value}}</td>
    <td class="text-center">{{map.key.precio}}€</td>
    <td class="text-center">{{map.key.precio * map.value}}€</td> <!-- 2 *3=6-->
    <td class="text-center">
      <button class="btn btn-outline-success mx-1" matTooltip="Añadir al carrito" (click)="addArticulo(map.key)">
        <fa-icon [icon]="faPlusCircle"></fa-icon>
      </button>
      <button class="btn btn-outline-danger mx-1" matTooltip="Eliminar del carrito" (click)="removeArticulo(map.key)">
        <fa-icon [icon]="faMinusCircle"></fa-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>
<p class="text-end"><b>Total: {{cart.totalPrecio}}€</b></p>
<div *ngIf="cart.totalArticulos>0">
  <p class="text-end"><b>Envio: {{ cart.envio !== 0 ? cart.envio + '€' : 'Regalo de la casa :)'}}</b></p>
  <p class="text-end"><b>Total con envío: {{cart.totalPrecio + cart.envio}}€</b></p>
  <div class="d-grid d-flex justify-content-end">
    <button class="btn btn-outline-success" (click)="comprar()">Comprar</button>
  </div>
</div>
<!--
if (cart.totalArticulos<6){
return "5€";
}
else{
return "Regalo de la casa :)"
}
-->
