<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bootcamp verano 2021</title>
    <link href="estilos.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--<div class="contenido">
    <p>Esto es un texto que tendrá un elementoa fectado por sticky</p>
    <div class="stick">OBJECTO</div>
    <p>adasdasd da asd asd sda</p>
</div>-->
<div class="main">
    <nav>
        <a href="#">Interno</a>
        <a href="https://codigonline.com">Externo</a>
    </nav>
    <div class="btn"></div>
    <div class="content">
        <div>
        <p id="wellcome">Bievenido a nuestra primera web</p>
        <a href="https://youtube.com">YouTube</a>
        </div>
        <div class="card">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Card Image">
            <div class="card-body">
                <h1>Tarjeta 1</h1>
                <p>Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.</p>
                <button type="button">Click me</button>
                
            </div>

        </div>
        <div class="card" style="position: relative; right: 10px;top:-10px">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Card Image">
            <div class="card-body">
                <h1>Tarjeta 2</h1>
                <p>asidasjdjsfjdnsafasfd dsf dsf dfs dfsa d dfsa fds afds fsda dsaf sadf dsaf dfsa safdasidasjdjsfjdnsafasfd dsf dsf dfs dfsa d dfsa fds afds fsda dsaf sadf dsaf dfsa </p>
                <button type="button" class="btn-primary">Click me</button>
                
            </div>

        </div>
        <div class="card" style="position: relative;top:0;left: 20px">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Card Image">
            <div class="card-body">
                <h1>Tarjeta 3</h1>
                <p>Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.</p>
                <button type="button">Click me</button>
                
            </div>

        </div>
        <div class="card">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Card Image">
            <div class="card-body">
                <h1>Tarjeta 4</h1>
                <p>Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.</p>
                <button type="button">Click me</button>
                
            </div>

        </div>
        <div class="card">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Card Image">
            <div class="card-body">
                <h1>Tarjeta 5</h1>
                <p>Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.</p>
                <button type="button">Click me</button>
                
            </div>

        </div>
        <div class="card">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Card Image">
            <div class="card-body">
                <h1>Tarjeta 6</h1>
                <p>Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.</p>
                <button type="button">Click me</button>
                
            </div>

        </div>
        <div class="card">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Card Image">
            <div class="card-body">
                <h1>Tarjeta 6</h1>
                <p>Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.</p>
                <button type="button">Click me</button>
                
            </div>

        </div>       <div class="card">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Card Image">
            <div class="card-body">
                <h1>Tarjeta 6</h1>
                <p>Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.</p>
                <button type="button">Click me</button>
                
            </div>

        </div>       <div class="card">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Card Image">
            <div class="card-body">
                <h1>Tarjeta 6</h1>
                <p>Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.</p>
                <button type="button">Click me</button>
                
            </div>

        </div>       <div class="card">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Card Image">
            <div class="card-body">
                <h1>Tarjeta 6</h1>
                <p>Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.</p>
                <button type="button">Click me</button>
                
            </div>

        </div>       <div class="card">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Card Image">
            <div class="card-body">
                <h1>Tarjeta 6</h1>
                <p>Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.</p>
                <button type="button">Click me</button>
                
            </div>

        </div>       <div class="card">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Card Image">
            <div class="card-body">
                <h1>Tarjeta 6</h1>
                <p>Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.</p>
                <button type="button">Click me</button>
                
            </div>

        </div>       <div class="card">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Card Image">
            <div class="card-body">
                <h1>Tarjeta 6</h1>
                <p>Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.</p>
                <button type="button">Click me</button>
                
            </div>

        </div>       <div class="card">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Card Image">
            <div class="card-body">
                <h1>Tarjeta 6</h1>
                <p>Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.</p>
                <button type="button">Click me</button>
                
            </div>

        </div>       <div class="card">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Card Image">
            <div class="card-body">
                <h1>Tarjeta 6</h1>
                <p>Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.</p>
                <button type="button">Click me</button>
                
            </div>

        </div>       <div class="card">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Card Image">
            <div class="card-body">
                <h1>Tarjeta 6</h1>
                <p>Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.Greed is a small kraken.</p>
                <button type="button">Click me</button>
                
            </div>

        </div>

    </div>
</div>
</body>
</html>
