<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CSS 3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
</head>
<body>
<div class="content">

    <div class="xs">DISPOSITIVOS MUY PEQUEÑOS</div>
    <div class="sm">DISPOSITIVOS PEQUEÑOS</div>
    <div class="md">DISPOSITIVOS MEDIANOS</div>
    <div class="lg">DISPOSITIVOS GRANDES</div>
    <div class="xl">DISPOSITIVOS MUY GRANDES</div>

    <!--
    1- JQUERY
    2- POPPER.JS
    3- CSS
    -->

    <div class="main">
        <div class="row">
            <div class="col-1" style="background-color: #0c4128;border: 1px solid white">
                <h1>1</h1>
                <!--ESTE CONTENIDO OCUPERÁ 2/12 COLUMNAS-->

            </div>
            <div class="col-1" style="background-color: #0c4128;border: 1px solid white">
                <h1>2</h1>
                <!--ESTE CONTENIDO OCUPERÁ 2/12 COLUMNAS-->

            </div>
            <div class="col-1" style="background-color: #0c4128;border: 1px solid white">
                <h1>3</h1>
                <!--ESTE CONTENIDO OCUPERÁ 2/12 COLUMNAS-->

            </div>
            <div class="col-1" style="background-color: #0c4128;border: 1px solid white">
                <h1>4</h1>
                <!--ESTE CONTENIDO OCUPERÁ 2/12 COLUMNAS-->

            </div>
            <div class="col-1" style="background-color: #0c4128;border: 1px solid white">
                <h1>5</h1>
                <!--ESTE CONTENIDO OCUPERÁ 2/12 COLUMNAS-->

            </div>
            <div class="col-1" style="background-color: #0c4128;border: 1px solid white">
                <h1>6</h1>
                <!--ESTE CONTENIDO OCUPERÁ 2/12 COLUMNAS-->

            </div>
            <div class="col-1" style="background-color: #0c4128;border: 1px solid white">
                <h1>7</h1>
                <!--ESTE CONTENIDO OCUPERÁ 2/12 COLUMNAS-->

            </div>
            <div class="col-1" style="background-color: #0c4128;border: 1px solid white">
                <h1>8</h1>
                <!--ESTE CONTENIDO OCUPERÁ 2/12 COLUMNAS-->

            </div>
            <div class="col-1" style="background-color: #0c4128;border: 1px solid white">
                <h1>9</h1>
                <!--ESTE CONTENIDO OCUPERÁ 2/12 COLUMNAS-->

            </div>
            <div class="col-1" style="background-color: #0c4128;border: 1px solid white">
                <h1>10</h1>
                <!--ESTE CONTENIDO OCUPERÁ 2/12 COLUMNAS-->

            </div>
            <div class="col-1" style="background-color: #0c4128;border: 1px solid white">
                <h1>11</h1>
                <!--ESTE CONTENIDO OCUPERÁ 2/12 COLUMNAS-->

            </div>
            <div class="col-1" style="background-color: #0c4128;border: 1px solid white">
                <h1>12</h1>
                <!--ESTE CONTENIDO OCUPERÁ 2/12 COLUMNAS-->

            </div>

            <div class="col-12 col-sm-10 col-md-6 col-lg-4 offset-sm-1 offset-md-0">
                <div class="card">
                    <div class="card-header">Cabecera</div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-outline-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer">Actualizado hace 4 segundos...</div>
                </div>
            </div>
            <div class="col-12 col-sm-10 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header">Cabecera</div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-outline-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer">Actualizado hace 4 segundos...</div>
                </div>
            </div>
            <div class="col-12 col-sm-10 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header">Cabecera</div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-outline-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer">Actualizado hace 4 segundos...</div>
                </div>
            </div>
            <div class="card col-10 col-md-5">
                <div class="card-header">Cabecera</div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-outline-primary">Go somewhere</a>
                </div>
                <div class="card-footer">Actualizado hace 4 segundos...</div>
            </div>
            <div class="card col-10 col-md-5">
                <div class="card-header">Cabecera</div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-outline-primary">Go somewhere</a>
                </div>
                <div class="card-footer">Actualizado hace 4 segundos...</div>
            </div>
            <div class="card col-10 col-md-5">
                <div class="card-header">Cabecera</div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-outline-primary">Go somewhere</a>
                </div>
                <div class="card-footer">Actualizado hace 4 segundos...</div>
            </div>
        </div>

    </div>
</div>

</body>
</html>
